{
  "openapi": "3.1.0",
  "info": {
    "title": "Altegro Robot Operations API",
    "version": "1.0.0",
    "description": "Authenticated robot registry, provider synchronization, CenoBots operations, Passport and monitoring endpoints. Live robot commands require administrator permission, an enabled safety gate and exact serial-number confirmation."
  },
  "servers": [{ "url": "https://altegro.de" }],
  "components": {
    "securitySchemes": { "bearerAuth": { "type": "http", "scheme": "bearer" } },
    "schemas": {
      "Error": { "type": "object", "properties": { "error": { "type": "object", "properties": { "code": { "type": "string" }, "message": { "type": "string" }, "correlationId": { "type": "string" } } } } },
      "SyncJob": { "type": "object", "required": ["id", "provider", "status"], "properties": { "id": { "type": "string", "format": "uuid" }, "provider": { "type": "string", "enum": ["autoxing", "cenobots"] }, "status": { "type": "string", "enum": ["queued", "running", "completed", "partial", "failed"] }, "result": { "type": ["object", "null"] }, "error": { "type": ["string", "null"] } } },
      "EnterpriseIntegration": { "type": "object", "required": ["kind", "provider", "mode", "ready"], "properties": { "kind": { "type": "string", "enum": ["crm", "service"] }, "provider": { "type": "string" }, "mode": { "type": "string", "enum": ["mock", "live"] }, "ready": { "type": "boolean" }, "reasons": { "type": "array", "items": { "type": "string" } }, "baseUrlConfigured": { "type": "boolean" }, "tokenConfigured": { "type": "boolean" }, "lastSyncAt": { "type": ["string", "null"], "format": "date-time" } } },
      "CenoBotsCommand": { "type": "object", "required": ["action", "execute"], "properties": { "action": { "type": "string", "enum": ["clean", "schedule", "go-home", "pause", "continue", "stop"] }, "execute": { "type": "boolean" }, "confirmation": { "type": "string", "description": "Exact robot serial number required when execute is true." }, "mapId": { "type": "integer", "minimum": 1 }, "mapVersion": { "type": "string" }, "duration": { "type": "integer", "minimum": 1, "maximum": 1440 }, "intensity": { "type": "string", "enum": ["LOW", "MEDIUM", "HIGH"] }, "cleanEverywhere": { "type": "boolean" }, "areaIds": { "type": "array", "items": { "type": "string" } } } },
      "ReportSubscription": { "type": "object", "required": ["id", "name", "email", "cadence", "days", "hourUtc", "active", "nextRunAt"], "properties": { "id": { "type": "string", "format": "uuid" }, "name": { "type": "string", "maxLength": 120 }, "email": { "type": "string", "format": "email", "readOnly": true }, "cadence": { "type": "string", "enum": ["daily", "weekly", "monthly"] }, "days": { "type": "integer", "enum": [7, 30, 90, 365] }, "hourUtc": { "type": "integer", "minimum": 0, "maximum": 23 }, "weekday": { "type": "integer", "minimum": 0, "maximum": 6 }, "monthDay": { "type": "integer", "minimum": 1, "maximum": 28 }, "active": { "type": "boolean" }, "nextRunAt": { "type": "string", "format": "date-time" }, "lastRunAt": { "type": ["string", "null"], "format": "date-time" }, "lastStatus": { "type": "string", "enum": ["never", "sent", "failed"] } } },
      "CostEntry": { "type": "object", "required": ["robotId", "category", "description", "quantity", "unitCostCents", "occurredAt"], "properties": { "robotId": { "type": "string" }, "category": { "type": "string", "enum": ["labor", "parts", "travel", "subscription", "other"] }, "description": { "type": "string", "maxLength": 300 }, "quantity": { "type": "number", "exclusiveMinimum": 0 }, "unitCostCents": { "type": "integer", "minimum": 0 }, "taxRateBasisPoints": { "type": "integer", "minimum": 0, "maximum": 10000, "default": 1900 }, "currency": { "type": "string", "default": "EUR" }, "occurredAt": { "type": "string", "format": "date-time" }, "serviceCaseId": { "type": ["string", "null"] }, "workOrderId": { "type": ["string", "null"] }, "vendor": { "type": ["string", "null"] }, "reference": { "type": ["string", "null"] } } }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/v1/costs": { "get": { "tags": ["Costs"], "summary": "Read tenant-scoped cost totals and entries for visible robots", "parameters": [{ "name": "days", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 365, "default": 30 } }], "responses": { "200": { "description": "Net, tax and gross totals grouped by category and robot" }, "403": { "description": "Cost read permission required" } } }, "post": { "tags": ["Costs"], "summary": "Record an audited robot cost in the configured currency", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CostEntry" } } } }, "responses": { "201": { "description": "Cost recorded with Passport and audit evidence" }, "400": { "description": "Invalid monetary amount or link" }, "403": { "description": "Cost management permission required" } } } },
    "/api/v1/costs/{costId}": { "patch": { "tags": ["Costs"], "summary": "Void an owned-tenant cost while retaining its audit trail", "parameters": [{ "name": "costId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["reason"], "properties": { "reason": { "type": "string", "minLength": 3, "maxLength": 300 } } } } } }, "responses": { "200": { "description": "Cost voided" }, "409": { "description": "Already voided" } } } },
    "/api/v1/report-subscriptions": { "get": { "tags": ["Reports"], "summary": "List the signed-in user's scheduled email reports", "responses": { "200": { "description": "Schedules plus safe SMTP readiness" } } }, "post": { "tags": ["Reports"], "summary": "Create a scheduled report delivered only to the account email", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReportSubscription" } } } }, "responses": { "201": { "description": "Schedule created" }, "400": { "description": "Invalid cadence or time" }, "409": { "description": "Five-schedule limit reached" } } } },
    "/api/v1/report-subscriptions/{subscriptionId}": { "patch": { "tags": ["Reports"], "summary": "Update or pause an owned report schedule", "parameters": [{ "name": "subscriptionId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Schedule updated" }, "404": { "description": "Not owned or not found" } } }, "delete": { "tags": ["Reports"], "summary": "Delete an owned report schedule", "parameters": [{ "name": "subscriptionId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Schedule deleted" }, "404": { "description": "Not owned or not found" } } } },
    "/api/v1/report-subscriptions/{subscriptionId}/send-now": { "post": { "tags": ["Reports"], "summary": "Generate and email an owned report immediately", "parameters": [{ "name": "subscriptionId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Report sent" }, "503": { "description": "SMTP is unavailable" } } } },
    "/api/v1/reports/comparison": { "get": { "tags": ["Reports"], "summary": "Compare visible fleets by site/provider across equal reporting periods", "parameters": [{ "name": "groupBy", "in": "query", "schema": { "type": "string", "enum": ["site", "provider"], "default": "site" } }, { "name": "days", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 365, "default": 30 } }], "responses": { "200": { "description": "Current/previous event and service metrics, absolute changes and current fleet snapshots" }, "400": { "description": "Invalid grouping or period" } } } },
    "/api/v1/maintenance-schedules": { "get": { "tags": ["Maintenance"], "summary": "List visible maintenance plans for every robot brand", "responses": { "200": { "description": "Plans and management permission" } } }, "post": { "tags": ["Maintenance"], "summary": "Create a recurring plan for a visible robot", "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["robotId", "title", "nextDueAt", "intervalDays"], "properties": { "robotId": { "type": "string" }, "title": { "type": "string", "maxLength": 160 }, "nextDueAt": { "type": "string", "format": "date-time" }, "intervalDays": { "type": "integer", "minimum": 1, "maximum": 730 }, "reminderDays": { "type": "integer", "minimum": 1, "maximum": 90 }, "assignedTechnicianId": { "type": "string" } } } } } }, "responses": { "201": { "description": "Created with Passport and audit evidence" }, "403": { "description": "Write permission required" }, "404": { "description": "Robot not visible" } } } },
    "/api/v1/maintenance-schedules/{scheduleId}": { "patch": { "tags": ["Maintenance"], "summary": "Pause, resume or complete maintenance", "parameters": [{ "name": "scheduleId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Updated; completion advances the next due date" }, "400": { "description": "Invalid update; no state change" }, "403": { "description": "Write permission required" } } } },
    "/api/v1/support/tickets": { "get": { "tags": ["Support"], "summary": "List visible tickets and conversations with safe attachment metadata", "responses": { "200": { "description": "Tickets and create/reply/manage permissions" } } }, "post": { "tags": ["Support"], "summary": "Create a ticket with an optional validated attachment (maximum 2 MB)", "responses": { "201": { "description": "Created" }, "400": { "description": "Invalid ticket or attachment" }, "403": { "description": "Support permission required" }, "413": { "description": "Attachment exceeds 2 MB" } } } },
    "/api/v1/support/tickets/{ticketId}/messages": { "post": { "tags": ["Support"], "summary": "Reply with an optional attachment; status changes require support.manage", "parameters": [{ "name": "ticketId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "201": { "description": "Reply stored with Passport/audit evidence" }, "403": { "description": "Reply or status change not permitted" } } } },
    "/api/v1/support/tickets/{ticketId}/messages/{messageId}/attachment": { "get": { "tags": ["Support"], "summary": "Download a visible ticket attachment", "parameters": [{ "name": "ticketId", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "messageId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Attachment download" }, "404": { "description": "Missing or not visible" } } } },
    "/api/v1/robots/{robotId}/documents/{documentId}/attachment": { "get": { "tags": ["Passport"], "summary": "Download a visible Passport document", "parameters": [{ "name": "robotId", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "documentId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Attachment download" }, "404": { "description": "Missing or not visible" } } } },
    "/health": { "get": { "security": [], "tags": ["System"], "summary": "Process liveness", "responses": { "200": { "description": "Process is alive" } } } },
    "/ready": { "get": { "security": [], "tags": ["System"], "summary": "Database, storage and live-provider readiness", "responses": { "200": { "description": "Ready" }, "503": { "description": "A required dependency is unavailable" } } } },
    "/api/v1/auth/login": { "post": { "security": [], "tags": ["Authentication"], "summary": "Create an authenticated session", "responses": { "200": { "description": "Authenticated" }, "401": { "description": "Invalid credentials" } } } },
    "/api/v1/robots": { "get": { "tags": ["Robots"], "summary": "List visible robots", "responses": { "200": { "description": "Robot collection" } } }, "post": { "tags": ["Robots"], "summary": "Register a robot", "responses": { "201": { "description": "Robot registered" }, "409": { "description": "Identity conflict" } } } },
    "/api/v1/robots/{robotId}/passport": { "get": { "tags": ["Passport"], "summary": "Read a robot Passport", "parameters": [{ "name": "robotId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Passport" }, "404": { "description": "Robot not found" } } } },
    "/api/v1/adapters/{provider}/sync": { "post": { "tags": ["Synchronization"], "summary": "Synchronize a robot or enterprise provider", "description": "AutoXing and CenoBots use durable jobs in PostgreSQL mode. CRM and service reference adapters complete inline.", "parameters": [{ "name": "provider", "in": "path", "required": true, "schema": { "type": "string", "enum": ["autoxing", "cenobots", "crm-reference", "service-reference"] } }], "responses": { "200": { "description": "Inline synchronization completed" }, "202": { "description": "Synchronization queued" }, "503": { "description": "Provider unavailable or not configured" } } } },
    "/api/v1/sync-jobs": { "get": { "tags": ["Synchronization"], "summary": "List recent synchronization jobs", "responses": { "200": { "description": "Job collection" } } } },
    "/api/v1/sync-jobs/{jobId}": { "get": { "tags": ["Synchronization"], "summary": "Read synchronization progress and result", "parameters": [{ "name": "jobId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }], "responses": { "200": { "description": "Synchronization job" }, "404": { "description": "Job not found" } } } },
    "/api/v1/autoxing/operations": { "get": { "tags": ["AutoXing"], "summary": "Read AutoXing fleet and connector diagnostics", "responses": { "200": { "description": "AutoXing operations" } } } },
    "/api/v1/cenobots/operations": { "get": { "tags": ["CenoBots"], "summary": "Read CenoBots fleet, water telemetry and command availability", "responses": { "200": { "description": "CenoBots operations" } } } },
    "/api/v1/integrations/enterprise": { "get": { "tags": ["Enterprise integrations"], "summary": "Read safe CRM and service integration readiness", "responses": { "200": { "description": "Configuration status without URLs, tokens, or secret paths" }, "403": { "description": "Integration permission required" } } } },
    "/api/v1/webhooks/service": { "post": { "security": [], "tags": ["Enterprise integrations"], "summary": "Receive a signed service-case change", "description": "Requires x-altegro-event-id, x-altegro-timestamp, and x-altegro-signature. The signature is HMAC-SHA256 over <timestamp>.<raw JSON body>.", "parameters": [{ "name": "x-altegro-event-id", "in": "header", "required": true, "schema": { "type": "string" } }, { "name": "x-altegro-timestamp", "in": "header", "required": true, "schema": { "type": "integer" } }, { "name": "x-altegro-signature", "in": "header", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Applied or duplicate" }, "202": { "description": "Accepted but robot could not be matched" }, "401": { "description": "Invalid or stale signature" } } } },
    "/api/v1/cenobots/robots/{robotId}/commands": { "post": { "tags": ["CenoBots"], "summary": "Preview or execute a guarded CenoBots command", "parameters": [{ "name": "robotId", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CenoBotsCommand" } } } }, "responses": { "200": { "description": "Command preview" }, "202": { "description": "Live command accepted" }, "409": { "description": "Command conflicts with robot state" }, "503": { "description": "Live controls unavailable" } } } },
    "/api/v1/monitoring": { "get": { "tags": ["System"], "summary": "Read operational monitoring data", "responses": { "200": { "description": "Monitoring snapshot" } } } }
  }
}
