# CenoBots Open API v1.0.16
CENOBOTS_HOST=https://app-server-eu.cz-robots.com
CENOBOTS_ACCESS_KEY=replace_with_access_key
CENOBOTS_SECRET_KEY=replace_with_secret_key
CENOBOTS_ROBOT_OPEN_ID=replace_with_device_open_id
